/* ---------------- Template Layout ----------------------*/

.level0{
margin-left :0px;
}

.level0:hover{
}

.level1{
  margin-left :30px;
}

.level1:hover{
}

.level2{
  margin-left :60px;
}

.level2:hover{

}

.level3{
  margin-left :90px;
}

.level3:hover{

}

.level4{
  margin-left :120px;
}

.level4:hover{

}

.level5{
  margin-left :150px;
}

.level5:hover{

}

.level6{
  margin-left :180px;
}

.level6:hover{

}

.level7{
  margin-left :210px;
}

.level7:hover{

}

.level8{
  margin-left :240px;
}

.level8:hover{

}

.level9{
  margin-left :270px;
}

.level9:hover{

}

.levelx{
  margin-left :300px;
}

.levelx:hover{

}

.description
{
  margin-left :40px;
  font-size: 10px;
  color: #999966;
}

.sponsor, .sponsor a:hover, .sponsor a:link, .sponsor a:visited
{
  text-align:center;
  font-size: 9px;
  color: #999966;
}