/*======================================================================*\
|| #################################################################### ||
|| # Copyright (C) 2006-2009 Youjoomla LLC. All Rights Reserved.        ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- THIS IS NOT FREE SOFTWARE ---------------- #      ||
|| # http://www.youjoomla.com | http://www.youjoomla.com/license.html # ||
|| #################################################################### ||
\*======================================================================*/
#centertop{text-align:left; margin:0 auto}

#centerbottom{text-align:left; margin:0 auto; overflow:hidden}
#header{text-align:left; height:110px; position:relative; margin:0 5px}
#logo{height:110px; width:482px; float:left; text-align:left}

#tags h1 a{text-indent:-7500px; display:block; width:280px; height:110px; text-decoration:none}
#tags{width:280px; height:110px; float:left; overflow:hidden; margin:0; padding:0}

#banner{height:60px; float:right; margin-top:27px; overflow:hidden; width:468px}

.search{padding:0 5px 5px 5px; float:right}
.search .inputbox, 
.search .inputbox:hover, 
.search .inputbox:focus{font-weight:bold; font-size:10px; padding:2px 5px 2px 5px}
.search .button{padding:0 3px; margin:0 0 0 3px}
#tools{font-size:10px; padding:5px; clear:both}
#pathway{margin:5px 5px 0 5px; padding:3px 5px 7px 5px}

#topmodule{margin:-3px auto 0 auto; text-align:left; padding:3px 0 0 0; overflow:hidden; width:100%}

#holder{height:100% !Important; height:1%; overflow:hidden; margin:0 auto; text-align:center; margin:0 0px}
#leftblock{float:left; height:100% !Important; height:1%; overflow:hidden; text-align:left}
#midblock{float:left; height:100% !Important; height:1%; overflow:hidden; text-align:left}
#rightblock{float:left; height:100% !Important; height:1%; overflow:hidden; text-align:left}

.inside{padding:5px 0; overflow:hidden}

.insidem{padding:5px 0}

#bottommodule{margin:0 auto; text-align:left; overflow:hidden}

#footer{clear:both; text-align:center; overflow:hidden; margin:0 auto; padding:0}
#youjoomla{clear:both; text-align:left; padding:0; overflow:hidden}
#cp{text-align:left; padding:0; overflow:hidden}

.news_item_f{margin:0 5px; position:relative}
.news_item_c{margin:0 5px; position:relative}
.news_item_s{margin:0 5px; position:relative}
.news_item_a{margin:0px 0px 0 0px!Important; background:none; padding:0 7px; overflow:hidden}

.news_item_article{padding:0 0 0 0}

.newsitem_tools{display:block; width:100%; margin:0 0 0 0 !Important; overflow:hidden}

.newsitem_info{width:70%; display:block; height:10px; float:left; margin:0 0 7px 0}

.buttonheading{width:30%; display:block; overflow:hidden; padding:0; float:right}
.buttonheading img{border:0}
.buttonheading .email, 
.buttonheading .print, 
.buttonheading .pdf{float:right; margin:0px 2px 0 0; width:16px}
.createby{padding:0 3px 0 0px}
.createdate{padding:0 3px 0 0px}
.newsitem_section{padding:0 3px 0 0px}
.newsitem_category{padding:0 3px 0 0px}
.newsitem_section a{padding:0 3px 0 0px}
.newsitem_category a{padding:0 3px 0 0px}
.newsitems_link{}

.newsitem_text{width:100%; display:block; padding:0 0 0 0 !Important}
.modifydate{width:100%; display:block; padding:10px 0; overflow:hidden}
.components{padding:20px 0}

a.category:link, 
a.category:visited, 
a.category:focus{font-weight:bold; font-size:100%}
.small{}

ul.pagination{margin:15px auto 10px; padding:10px 0 0}
ul.pagination li, 
ul.pagination li:hover{background:none; display:inline; margin:3px; padding:0}
ul.pagination li span{padding:2px 5px}
ul.pagination a{padding:2px 3px; text-decoration:none}
ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus{}
.pagenavbar{font-weight:bold; padding-left:14px}
.pagenavcounter{font-weight:bold; padding:8px 14px 0 14px}

.yjsquare h3, 
.yjsquare_yj1 h3, 
.yjsquare_yj2 h3{overflow:hidden; font-size:14px; padding:0 0 5px 0; margin:0 5px; font:normal 24px/1.2em Cambria,serif}
.yjsquare h3 span, 
.yjsquare_yj1 h3 spa, 
.yjsquare_yj2 h3 spann{overflow:hidden}
.yjsquare p, 
.yjsquare_yj1 p, 
.yjsquare_yj2 p{overflow:hidden; padding:3px}
.yjsquare_in, 
.yjsquare_yj1 .yjsquare_in, 
.yjsquare_yj2 .yjsquare_in{overflow:hidden; padding:10px}
.yjsquare, 
.yjsquare_yj1, 
.yjsquare_yj2{margin:3px 0 7px 0px; padding:0px; clear:both; display:block; height:100% !Important; height:1%; overflow:hidden}
#rightblock .yjsquare_yj1, 
#leftblock .yjsquare_yj1, 
#rightblock .yjsquare_yj2, 
#leftblock .yjsquare_yj2{margin:3px 0 7px 5px}

.pollbuttons{margin:0 auto; width:80%; text-align:center; height:30px}
.pollbuttons .vote .button, 
.pollbuttons .results .button, 
.borderspan .button, 
.borderspan .validate{font-size:10px; text-transform:lowercase; padding:0 8px; font-weight:bold; margin:0}
#searchForm .borderspan{margin:3px 0 0 0}
.pollbuttons .vote, 
.pollbuttons .results, 
.borderspan{display:inline-block; overflow:hidden; padding:5px}

#modlgn_passwd, #modlgn_username{width:95%; height:19px; padding-left:3px; padding-top:3px}
#advholder{margin:0 5px; text-align:center; overflow:hidden}
#advert1{text-align:left}
#advert1 .yjsquare_in, 
#advert1 .yjsquare{margin:0; padding:0}
#YJT_container10{float:left; margin:-5px 0 0 -5px}
#slides{background:transparent}
#navigator10 li.element, 
#navigator10 li.element div.inner{height:108px; background:none; border:none}
#navigator10 li.element{border-bottom:1px solid #e4e4e4}
#navigator10 li.element div.inner span.title{font:normal 24px/1.2em Cambria,serif; padding:10px 10px 0 10px}
#navigator10 li.selected_right div.inner span.title{font-weight:normal}
#navigator_outer10{border:none}
#slides div.slide_info{padding:0px}
.slide_info p.slide_intro{padding:0 0px}
#topshelf{margin:10px 5px 0 5px; text-align:center; overflow:hidden; width:auto!Important; height:100% !Important; height:1%}
#user1, #user2, #user3{float:left; clear:right; text-align:left; font-weight:bold; margin:0 0 10px 0; overflow:hidden}
.yjnewsflash p{font-size:10px; font-weight:bold; color:#848484}
#topmodule .yjnewsflash{margin:0px 0px 0px 0px !important}
#topmodule .yjsquare_in{overflow:hidden; padding:10px 5px 0px 5px}
#bottomshelf{margin:0 auto 10px auto; text-align:center; overflow:hidden}
#user4, #user5, #user6{float:left; clear:right; text-align:left; margin:0 0 10px 0; overflow:hidden}
.bottomsin{}
