/**
 * @version		$Id$
 * @package		Frontpage Slideshow (standalone)
 * @author		JoomlaWorks http://www.joomlaworks.gr
 * @copyright	Copyright (c) 2006 - 2010 JoomlaWorks, a business unit of Nuevvo Webware Ltd. All rights reserved.
 * @license		Commercial - This code cannot be redistributed without permission from Nuevvo Webware Ltd.
 */

.fpss-introtext {_background:#222;}
#navi-outer {_width:100%;}
#navi-outer ul {_background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fpss/templates/Default/images/corner.png', sizingMethod='crop');}
#navi-outer li a span.navbar-key {padding:0 0 0 1px;width:18px;display:block;overflow:hidden;cursor:pointer;}
.fpss-clr {display:none;}

/* --- Generic Styling (highly recommended) --- */
#fpss-outer-container a:active, #fpss-outer-container a:focus {outline:expression(hideFocus='true');}
