/**
 * @version		2.9.1
 * @package		Frontpage Slideshow
 * @author    JoomlaWorks - http://www.joomlaworks.gr
 * @copyright	Copyright (c) 2006 - 2011 JoomlaWorks, a business unit of Nuevvo Webware Ltd. All rights reserved.
 * @license		Commercial - This code cannot be redistributed without permission from Nuevvo Webware Ltd.
 */

#slide-outer .slide-inner a.fpss_img span span span {_background:url(../images/readmore_ie.png) no-repeat right bottom;cursor:pointer;}

/* --- Generic Styling (highly recommended) --- */
#fpss-outer-container a:active, #fpss-outer-container a:focus {outline:expression(hideFocus='true');}
