#acymenutop{
	font-size:11px;
	line-height:20px;
	font-weight:normal;
	height:20px;
	}

#acymenutop ul{
	list-style:none;
	margin:0;
	padding:0;
	}

#acymenutop li{
	float:left;
	}

#acymenutop li a{
	display:block;
	line-height:20px;
	padding:0px 10px;
	text-decoration:none;
	background-repeat: no-repeat;
	}

#acymenutop li:hover ul a{
	color:#069;
	}

#acymenutop li a:focus, #acymenutop li:hover a, #acyselectedmenu a{
	color:#fe930a;
	}

#acymenutop li ul{
	border:1px solid #ccc;
	background:#f4f4f4;
	display:none;
	height:auto;
	filter:alpha(opacity=90);
	opacity:0.9;
	position:absolute;
	z-index:200;
}
#acymenutop li:hover ul{
	display:block;}

#acymenutop li li {
	display:block;
	float:none;}

#acymenutop li ul a{
	display:block;
	font-style:normal;
	font-weight:normal;
	text-align:left;
	background-position:left;
	border-bottom: 1px dotted #ccc;
	padding-left:25px;
	min-width:80px;
	margin-right:5px;
	margin-left:5px;
}

#acymenutop li ul a:hover{
	background-color:#fff;
	color:#fe930a;
	opacity:1.0;
	filter:alpha(opacity=100);
}

#acymenutop .acymainmenulink{
	padding-left:18px;
	}

.acyicon-16-acylist {background-image:url(../images/icons/icon-16-acylist.png);}
.acyicon-16-new {background-image:url(../images/icons/icon-16-acynew.png);}
.acyicon-16-autonewsletter {background-image:url(../images/icons/icon-16-autonewsletter.png);}
.acyicon-16-stats {background-image:url(../images/icons/icon-16-stats.png);}
.acyicon-16-newsletter {background-image:url(../images/icons/icon-16-newsletter.png);}
.acyicon-16-queue {background-image:url(../images/icons/icon-16-process.png);}
.acyicon-16-template {background-image:url(../images/icons/icon-16-acytemplate.png);}
.acyicon-16-campaign {background-image:url(../images/icons/icon-16-campaign.png);}
.acyicon-16-config {background-image:url(../images/icons/icon-16-acyconfig.png);}
.acyicon-16-export {background-image:url(../images/icons/icon-16-acyexport.png);}
.acyicon-16-import {background-image:url(../images/icons/icon-16-import.png);}
.acyicon-16-update {background-image:url(../images/icons/icon-16-update.png);}
.acyicon-16-fields {background-image:url(../images/icons/icon-16-fields.png);}
.acyicon-16-filter {background-image:url(../images/icons/icon-16-filter.png);}
.acyicon-16-users {background-image:url(../images/icons/icon-16-users.png);}
.acyicon-16-bounces {background-image:url(../images/icons/icon-16-bounces.png);}