/*======================================================================*\
|| #################################################################### ||
|| # Copyright (C) 2006-2009 Youjoomla LLC. All Rights Reserved.        ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- THIS IS NOT FREE SOFTWARE ---------------- #      ||
|| # http://www.youjoomla.com | http://www.youjoomla.com/license.html # ||
|| #################################################################### ||
\*======================================================================*/
body#color{
}
#centerbottom{
}
#logo{
background: url(../images/earth/logo.png) no-repeat 0px 15px;
}
#banner{
}
#advholder,
#topshelf,
#topmodule .yjnewsflash{
border-bottom:1px solid #e4e4e4;
}
/*searchbox
--------------------- */
.search{
border:1px solid #e4e4e4;
background:#f8f7f5;
}
.search .inputbox,
.search .inputbox:hover,
.search .inputbox:focus{
color:#8c857d;
background: url(../images/search_bg.gif) repeat-x left bottom;
}
.search .button{
background:#c6bfa2;
color:#fff;
}
/*login module
--------------------- */
#modlgn_passwd, #modlgn_username {
color:#c6bfa2;
border:1px solid #e4e4e4;
}
#modlgn_passwd  {
background: #fff ;
}
#modlgn_username {
background: #fff;
}
#mod_login_remember{
border: none;
padding: 0!important;
}

/*template css 
--------------------- */
a:link, a:visited {
text-decoration: none;
color:#c6bfa2;
}
a:focus,a:hover {
color:#a1987e;
text-decoration: none;
}
h1,h3,h4,
h5,h6,h2 {
color:#a1987e;
}
.small,.createdate,.modifydate,.mosimage_caption,.createby{
text-transform: uppercase;
color:#ccc;
font: 10px Tahoma, Verdana, "Lucida Sans";
}
.componentheading,
.contentheading,
.contentheading a:link,
.contentheading a:visited,
.contentheading a:link,
.contentheading a:visited{
color:#c6bfa2;
border-bottom:1px solid #e4e4e4;
}
#pathway{
border-bottom:1px solid #e4e4e4;
}
.toclink{
border:1px solid #e4e4e4;
}
fieldset{
border:1px solid #d6d4d4;
}
.yjsquare_in fieldset{
border:none;
}
.inputbox {
background: #FFFFFF;
border: 1px solid #e4e4e4;
}
.inputbox:hover, .inputbox:focus {
background: #e4e4e4;
border: 1px solid #e4e4e4;
}
/*buttons
--------------------- */
.button {
color:#fff;
}
.button,.validate {
background:#c6bfa2;
color:#fff;
}
.pollbuttons .vote,
.pollbuttons .results,
.borderspan{
background:#f8f7f5;
border:1px solid #e4e4e4;
}
.pollbuttons .results .button{
background:#c6bfa2;
}
.pollbuttons .vote .button{
background:#1c140d;
}
a.button:link,
a.button:visited,
a.button:focus{
color:#fff;
padding:3px;
}
.back_button a:hover,.back_button a:active {
color: #000;
text-decoration: none;
}
a.pagenav,
.pagenav_prev a,
.pagenav_next a,
.pagenavbar a, .back_button a {
background:#c6bfa2;
color:#fff;
}
a.readon:link, a.readon:visited{
background:#c6bfa2;
border:1px solid #e4e4e4;
color:#fff;
}
/* ADDITIONAL SPAN READON CLASS FOR ROUND CORNERS*/
.readon span{
background:#c6bfa2;
border:5px solid #f8f7f5;
}
a.readon:hover,.pagenavbar a:hover {
color:#18110b;
}
.yjns_rm:link,
.yjns_rm:visited{
color:#fff;
background:#c6bfa2;
padding:0 5px 0 5px;
height:17px;
}
.yjns_rm:hover{
color:#18110b;
}
.yjnsreadon{
background:#f8f7f5;
border:1px solid #e4e4e4;
padding:5px 5px 3px 5px;
}
/*default square modules
--------------------- */
.yjsquare h3{
color:#c6bfa2;
border-bottom:1px solid #e4e4e4;
}
.yjsquare h3 span{
color:#c6bfa2;
}
.yjsquare{
color:#555555;
}
/*_yj1*/
.yjsquare_yj1 h3{
color:#18110b;
border-bottom:1px solid #ccc;
}
.yjsquare_yj1 h3 span{
color:#18110b;
}
.yjsquare_yj1{
background:#fefcf5;
color:#555555;
border:1px solid #ccc;

}

/*_yj2*/
.yjsquare_yj2 h3{
color:#a1987e;
border-bottom:1px solid #a1987e;
}
.yjsquare_yj2 h3 span{
color:#a1987e;
}
.yjsquare_yj2{
background:#f8f7f5;
color:#555555;
}
/*top menu
--------------------- */
#horiznav ul li a {
/* NORMAL LINKS COLOR */color: #c6bfa2;
background:none;
}

#horiznav ul li a:hover,
#horiznav ul li:hover a,
#horiznav ul li.sfHover a {
/* LINKS HOVER COLOR */color: #18110b;
background:none;
}
#horiznav li#current a,
#horiznav li#current a:hover,
#horiznav li#current:hover a,
#horiznav li#current.sfHover a,
#horiznav li.active a {
/* ACTIVE LINKS COLOR */color: #18110b;
background:none;
}
#horiznav li#current,
#horiznav li#current:hover,
#horiznav li#current.sfHover,
#horiznav li.active  {
background:none;
}
#horiznav ul li:hover li a,
#horiznav ul li.sfHover li a,
#horiznav ul li#current:hover li a,
#horiznav ul li#current.sfHover li a,
#horiznav ul li:hover ul ul li a,
#horiznav ul ul li.active  {
/* LEVEL 2 LINKS HOVER COLOR */color: #18110b;
background-image: none;
}
#horiznav li:hover ul, 
#horiznav li li:hover ul, 
#horiznav li li li:hover ul, 
#horiznav li li li li:hover ul,
#horiznav li.sfHover ul, 
#horiznav li li.sfHover ul, 
#horiznav li li li.sfHover ul,
#horiznav li li li li.sfHover ul,
#horiznav ul li:hover li a,
#horiznav ul li.sfHover li a,
#horiznav ul li:hover ul ul li a,
#horiznav ul li.sfHover ul ul li a {
/* LEVEL 2 BACKGROUND COLOR */background-color: #c6bfa2;
}

#horiznav li ul li a:hover,
#horiznav li ul li ul li a:hover,
#horiznav li li:hover,
#horiznav ul li li.sfHover,
#horiznav li li.sfHover a,
#horiznav ul li li:hover a,
#horiznav ul li li:hover,
#horiznav ul li li.sfHover,
#horiznav ul li li#current a:hover,
#horiznav li.haschild ul li#current.sfHover,
#horiznav li.haschild ul li#current:hover,
#horiznav ul li.haschild li#current a:hover{
/* LEVEL 2 BACKGROUND  HOVER COLOR */background-color: #c6bfa2;
/* LEVEL 2 BACKGROUND TEXT HOVER COLOR */color: #fff;
background-image: none;
}

#horiznav ul li#current ul li a,
#horiznav ul li#current ul li,
#horiznav ul li#current ul li a:hover,
#horiznav ul li#current ul li.hover
#horiznav ul li#current ul li.sfHover,
#horiznav ul li.haschild li#current a {
/* LEVEL 2 ACTIVE TEXT COLOR */color: #ffffff;
}

#horiznav li li {
/* LEVEL 2 BOTTOM LINE  */border-bottom: 1px solid #a1987e;

}

#horiznav li ul {
/*SUB LEVEL UL BORDER */
}

#horiznav li, #horiznav {
font-weight: bold;
background:none;
}
#horiznav li {
background:none;
}
#horiznav ul li:hover,#horiznav ul li.sfHover {
background:none;
}

/*SUBLEVEL PARENT ITEM ARROWS*/

#horiznav ul li ul li.haschild a.child,
#horiznav ul li ul li a.child:hover {
background: url(../images/earth/topmenu/arrow_right.gif) 95% 50% no-repeat;
}

#horiznav ul li.active ul li a.child {
background: url(../images/earth/topmenu/arrow_right.gif) 95% 50% no-repeat;
}

/*dropline*/
#horiznav_d{
font-weight: bold;
background:none;
}
#horiznav_d li {
background:none;
}
#horiznav_d li a, #horiznav_d li .separator {
color: #c6bfa2;
background:none;
}
#horiznav_d ul li ul{
background:#fff;/*MUST BE USED*/
}
#horiznav_d li.active, #horiznav_d li.active:hover, 
#horiznav_d li.active.sfHover, 
#horiznav_d li:hover, #horiznav_d li.sfHover {
background:none;
}
#horiznav_d li.active a, #horiznav_d li.active .separator, 
#horiznav_d li.active a:hover, #horiznav_d li.active .separator:hover, 
#horiznav_d li:hover a, #horiznav_d li:hover .separator, 
#horiznav_d li.sfHover a, #horiznav_d li.sfHover .separator {
background:none;
color: #18110b;
}
#horiznav_d li.haschild li a:hover,
#horiznav_d li.haschild li.active a{
text-decoration:underline;
background:none;
}
#horiznav_d li.haschild li a{
color:#c6bfa2;
font-weight: bold;
background:none;
}
/*side menus 2
--------------------- */
#mainlevel li a,
.menu li a,
a.mainlevel{
background:#fff url(../images/earth/mainlevel.jpg) no-repeat left top;
}
#mainlevel li a:hover,
#mainlevel a#active_menu:link,#mainlevel a#active_menu:visited,
a.mainlevel:hover,
a.mainlevel#active_menu,
#mainlevel li a:hover,
#mainlevel a#active_menu:link,#mainlevel a#active_menu:visited,
.menu li a:hover,.menu li.active a {
background:#fff url(../images/earth/mainlevel.jpg) no-repeat left bottom;
}
a.sublevel {
background: url(../images/earth/bodyli.gif) no-repeat 2px 7px;
}
a.sublevel:hover{
text-decoration:underline;
}
#footmod a.mainlevel:hover,
#footmod a.mainlevel:active,
#footmod a.mainlevel:focus,
#mainlevel li a:hover,
#mainlevel a#active_menu:link,
#mainlevel a#active_menu:visited,
a.mainlevel#active_menu,
a.sublevel,a.sublevel:hover,
a.sublevel:active,a.sublevel:focus,
#active_menu,a.mainlevel:hover,
a.mainlevel:active,
a.mainlevel:focus,
ul li a:hover,
li.active a,
li.parent a {
color:#a1987e;
}
a.mainlevel,
#mainlevel li a{
color:#c6bfa2;
}
.yjsquare li.active ul li a,
a.sublevel#active_menu{
color:#c6bfa2;
}
.yjsquare li.active ul li a:hover,
.yjsquare li.active ul li.active a{
color:#a1987e;
background:#fff url(../images/earth/mainlevel.jpg) no-repeat left top;
}
body li{
padding-left:15px;
background: url(../images/earth/bodyli.gif) no-repeat 0px 5px;
font-family: Verdana, Arial, Helvetica,  sans-serif; font-size: 11px; text-decoration: none;
}
#topshelf h3,#bottomshelf h3,
#topshelf h3,#bottomshelf span{
color:#a1987e;
}
#user1,#user2,#user3,
#user4,#user5,#user6,
#bottomshelf{
background:#f8f7f5;
}
#topshelf li,
#bottomshelf li{
background: url(../images/earth/shelf_li.gif) no-repeat 0px 6px;
}
#topshelf .yjsquare h3{
border-bottom:1px solid #c6bfa2;
}
#cp{
color:#18110b;
}
#cp a:link,
#cp a:visited{
color:#a1987e;
}
#cp a:hover{
color:#18110b;
}
#topshelf img.border,
#bottomshelf img.border{
border:1px solid #bdbcba;
background:#e4e6e0;
margin:5px 3px 0 0;
}
#navigator10 li.selected_right div.inner span.title{
color:#c6bfa2;
}