/*======================================================================*\
|| #################################################################### ||
|| # Copyright (C) 2006-2009 Youjoomla LLC. All Rights Reserved.        ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- THIS IS NOT FREE SOFTWARE ---------------- #      ||
|| # http://www.youjoomla.com | http://www.youjoomla.com/license.html # ||
|| #################################################################### ||
\*======================================================================*/
img.border{
padding:5px;
margin:2px 3px 0 0;
}
.special{
padding:10px;
text-align:center;
}
.error{
padding:5px 5px 5px 0px !Important; 
text-indent:25px;
}
.message{
padding:5px 5px 5px 0px !Important;
text-indent:25px;
}

.tips{
padding:5px 5px 5px 0px !Important; 
text-indent:25px;
}
.highlight{
padding:0 5px; 
}
pre, .code{
padding:10px 15px !Important; 
margin:5px 0 15px !Important; 
white-space:normal !Important;
width:auto !Important;
}
div.blockquote{
width:auto !Important;
padding:5px 0px 5px 0px !Important; 
}
div.blockquote blockquote{
padding:15px 40px 5px 40px !Important; 

 
}
.dropcap{
float:left; 
padding:4px 8px 0 0; 
display:block; 
font-family:Georgia,Times,serif; 
font-size:50px; 
line-height:40px;
}
p.sticky{
padding:20px 20px 10px 40px; 
margin-top:10px; 
margin-bottom:10px; 
}
p.pin{
padding:20px 20px 10px 40px;
margin-top:10px; 
margin-bottom:10px; 
}
p.clip{
margin-top:10px; 
margin-bottom:10px; 
padding:20px 20px 10px 40px; 
}
p.down{
padding:20px 20px 10px 40px; 
margin-top:10px; 
margin-bottom:10px; 
}
.blocknumber{
clear:both; 
position:relative; 
padding-top:5px; 
padding-right:15px; 
padding-bottom:10px; 
padding-left:15px;
}
.bignumber{
float:left; 
margin-right:15px; 
margin-bottom:5px; 
padding:5px 5px 5px 6px; 
display:block; 
font-weight:bold; 
background-position:left top; 
font-family:Arial,sans-serif; 
font-size:23px; line-height:normal;
}
ul.video li, 
li.video, 
li.video:hover,
ul.check li, 
li.check, 
li.check:hover,
ul.star li, 
li.star, 
li.star:hover{
padding-bottom:5px; padding-left:25px; list-style-image:none; list-style-type:none;
}

/* TYPO style
--------------------- */
img.border{
border:1px solid #e7e7e7;
background:#F6F6F6;
}
.special{
background:#FFC;
border:1px solid #9E9F63; 
}
.error{
color:#C00; 
background:url(../images/typ/error.gif) no-repeat center left; 
}
.message{
color:#069; 
background:url(../images/typ/info.gif) no-repeat center left; 
}
.tips{
color:#FF5A00; 
background:url(../images/typ/tips.gif) no-repeat center left; 
}
.highlight{
border-bottom:1px dashed #888; 
background:#FEFAE1; 
}
pre, .code{
border-left:5px solid #e7e7e7 !Important; 
border-right:1px solid #e7e7e7 !Important;
border-top:1px solid #e7e7e7 !Important; 
border-bottom:1px solid #e7e7e7 !Important; 
background:#F6F6F6 !Important; 
}
div.blockquote{
border:1px solid #e7e7e7; 
background-color:#F6F6F6; 
background:#F6F6F6 url(../images/typ/qlg.gif) no-repeat 0px 2px  !Important; 
}
div.blockquote blockquote{
background:url(../images/typ/qrg.gif) no-repeat right bottom;

}
.dropcap{
color:#e7e7e7; 
font-family:Georgia,Times,serif; 
}
p.sticky{

border-right:1px solid #e7e7e7; 
border-top:1px solid #e7e7e7; 
border-left:5px solid #e7e7e7; 
border-bottom:1px solid #e7e7e7; 
background:#F6F6F6 url(../images/typ/sticky.gif) no-repeat left center; 
}
p.pin{

border-right:1px solid #e7e7e7; 
border-top:1px solid #e7e7e7; 
border-left:5px solid #e7e7e7; 
border-bottom:1px solid #e7e7e7; 
background:#F6F6F6 url(../images/typ/pin.gif) no-repeat left center; 
}
p.clip{

border-right:1px solid #e7e7e7; 
border-top:1px solid #e7e7e7; 
border-left:5px solid #e7e7e7; 
border-bottom:1px solid #e7e7e7; 
background:#F6F6F6 url(../images/typ/clip.gif) no-repeat left center; 
}
p.down{

border-right:1px solid #e7e7e7; 
border-top:1px solid #e7e7e7; 
border-left:5px solid #e7e7e7; 
border-bottom:1px solid #e7e7e7; 
background:#F6F6F6 url(../images/typ/down.gif) no-repeat left center; 
}
.bignumber{
color:#e7e7e7; 
background-position:left top; 
}
body ul.star li, 
body li.star{background:url(../images/typ/star.gif)   no-repeat 0 1px;
}
body ul.video li,
body li.video,
body li.video:hover {
background: url(../images/typ/video.gif) no-repeat 0px  0px;
}
.price{
width:40%!Important; 
float: right!Important; 
margin-top: -25px!Important; 
text-align: center!Important;
clear:right;
}
.clrm{
width:100%;
clear:both;
text-align:center;
overflow:hidden;
}