/**
 * @version		2.9.1
 * @package		Frontpage Slideshow
 * @author    JoomlaWorks - http://www.joomlaworks.gr
 * @copyright	Copyright (c) 2006 - 2011 JoomlaWorks, a business unit of Nuevvo Webware Ltd. All rights reserved.
 * @license		Commercial - This code cannot be redistributed without permission from Nuevvo Webware Ltd.
 */

/* Common */
a:active,a:focus {outline:0;}
img {border:none;}
.extended {width:350px;}
.jwfpss-clr {clear:both;display:block;height:0;line-height:0;}
.clr {clear:both;display:block;height:0;line-height:0;}

/* Containers */
#jwfpss {padding:0;text-align:left;} /* container */
#jwfpss.jwfpss-fp {background:#fbfbfb;}
div.jwfpssContent {clear:both;padding:4px;}
div.jwfpssContent ul {list-style:none;margin:4px;padding:0 4px;}
div.jwfpssContent ul li {margin:0;padding:4px 0 4px 24px;background:url(../images/publish_g.png) no-repeat 0 50%;}

/* Logo */
#jwfpss.jwfpss-fp h2#jwfpss-logo {background:url(../images/fpss_logo_460x60.png) no-repeat;width:460px;height:60px;margin:20px 8px 8px 8px;padding:0;border:none;}
#jwfpss.jwfpss-fp h2#jwfpss-logo span {display:none;}
h2#jwfpss-logo {background:url(../images/fpss_logo_460x60.png) no-repeat;width:460px;height:60px;margin:0;padding:0;border:none;}
h2#jwfpss-logo span {display:none;}
div.header {margin:0 !important;padding:0 !important;}

/* Titles */
#jwfpss h2 {padding:4px;margin:8px 0;color:#B82828;font-weight:normal;font-size:24px;border-bottom:1px dotted #ddd;clear:both;width:auto;}
#jwfpss h2 span {color:#B82828;}
#jwfpss h3 {font-weight:bold;font-size:16px;background:url(../images/bullet_go.png) no-repeat left;padding:0 0 0 20px;margin:0;color:#0B55C4;}
#jwfpss h3 span {font-weight:bold;}

/* Navigation */
ul#jwfpss-menu {margin:0;padding:2px 16px;list-style:none;border-bottom:1px solid #ccc;}
ul#jwfpss-menu li {display:inline;margin:0 4px 0 0;padding:0;list-style:none;}
ul#jwfpss-menu li a {font-size:14px;color:#333;padding:2px 12px;margin:0;border:1px solid #ccc;border-bottom:none;background:url(../images/nav.png) repeat-x center;font-weight:normal;}
ul#jwfpss-menu li a:hover {font-size:14px;color:#fff;background:url(../images/nav-active.png) repeat-x center;padding:2px 12px;margin:0;text-decoration:none;font-weight:normal;}
ul#jwfpss-menu li a#current {font-size:14px;color:#333;background:#fff;padding:2px 12px;margin:0;text-decoration:none;
border:1px solid #ccc;border-bottom:1px solid #fff;font-weight:normal;}
ul#jwfpss-menu.inactive {margin:0;padding:2px 16px;list-style:none;border-bottom:1px solid #ccc;}
ul#jwfpss-menu.inactive li {display:inline;list-style:none;font-size:14px;color:#bbb;padding:2px 12px;margin:0 4px 0 0;border:1px solid #ccc;border-bottom:none;background:url(../images/tab_bg.png) repeat-x top;}

/* Lists / edit page */
#jwfpss .categorySelect {text-align:right;padding:0 8px 8px 8px;}
#jwfpss .categorySelect b {margin-right:8px;}

table.adminlist tr td {text-align:center;}

table.adminlist tr .fpssLeft {text-align:left;}
table.adminlist tr .fpssCenter {text-align:center;}
table.adminlist tr .fpssCenter input {text-align:center;}

#jwfpss table.adminForm {margin:4px auto;padding:0;border-collapse:collapse;width:100%;}
#jwfpss table.adminForm tr th {vertical-align:top;padding:8px;background:#eee;border:1px solid #fff;text-align:left;color:#333;font-weight:bold;}
#jwfpss table.adminForm tr td {vertical-align:top;padding:8px;background:#f6f6f6;border:1px solid #fff;width:80%;}
#jwfpss table.adminForm tr td input,
#jwfpss table.adminForm tr td select {margin:2px;}

#jwfpss table.adminForm tr td table.mceLayout {border:1px solid #ccc;}
#jwfpss table.adminForm tr td table.mceLayout tr td {vertical-align:top;padding:1px;background:none;border:none;width:auto;}

.showimg {background:#fff;border:1px solid #ccc;padding:4px;margin:0;width:300px;height:auto;}
.showthb {background:#fff;border:1px solid #ccc;padding:4px;margin:0;}

/* Toolbar */
#jwfpss-toolbar {float:right;clear:both;margin:4px 0;}
#jwfpss-toolbar table {}
#jwfpss-toolbar table tr td {padding:2px;}

/* Image Browser */

/*
#jwfpss table.adminList {margin:4px auto;padding:0;border-collapse:collapse;width:98%;}
#jwfpss table.adminList tr th {vertical-align:top;padding:4px;background:#333;border:1px solid #ddd;text-align:center;color:#fff;}
#jwfpss table.adminList tr.row0 td {vertical-align:top;padding:4px;background:#fff;border:1px solid #ddd;}
#jwfpss table.adminList tr.row1 td {vertical-align:top;padding:4px;background:#ffffdd;border:1px solid #ddd;}
*/
#jwfpss-imgbrowser {background:#fbfbfb;padding:8px;margin:0px;font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#333;}
#jwfpss-imgbrowser a {font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#B82828;text-decoration:none;}
#jwfpss-imgbrowser a:hover {font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#555;text-decoration:underline;}
#jwfpss-imgbrowser .red {color:#B82828;}
#jwfpss-imgbrowser .changedir {text-align:right;background:#ffffdd;border:1px solid #ddd;padding:4px;margin:0px 0px 8px 0px;}
#jwfpss-imgbrowser table.adminList {margin:4px auto;padding:0;border-collapse:collapse;width:98%;}
#jwfpss-imgbrowser table.adminList tr th {vertical-align:top;padding:4px;background:#333;border:1px solid #ddd;text-align:left;color:#fff;}
#jwfpss-imgbrowser table.adminList tr td {vertical-align:center;padding:4px;background:#fafafa;border:1px solid #ddd;}
#jwfpss-imgbrowser table.adminList tr img {border:1px solid #ccc;background:#fff;padding:4px;margin:4px;}
#jwfpss-imgbrowser table.adminList tr img:hover {border:1px solid #c63434;background:#fff;padding:4px;margin:4px;}

/* Footer */
#jwfpss #jwfpss-footer {padding:4px;margin:20px 0 8px 0;text-align:center;border-top:1px dotted #ddd;clear:both;}
#jwfpss #jwfpss-footer a {}
#jwfpss #jwfpss-footer a:hover {}

/* --- END --- */
