/**
 * @version		2.9.1
 * @package		Frontpage Slideshow
 * @author    JoomlaWorks - http://www.joomlaworks.gr
 * @copyright	Copyright (c) 2006 - 2011 JoomlaWorks, a business unit of Nuevvo Webware Ltd. All rights reserved.
 * @license		Commercial - This code cannot be redistributed without permission from Nuevvo Webware Ltd.
 */

.fpss-introtext {_bottom:-1px;_background:#444;}
#navi-outer li.noimages a#fpss-container_next {_background:url(../images/nav-right-ie.png) no-repeat;_border:1px solid #777;}
#navi-outer li.noimages a#fpss-container_prev {_background:url(../images/nav-left-ie.png) no-repeat;_border:1px solid #777;}
.fpss-clr {display:none;}

/* --- Generic Styling (highly recommended) --- */
#fpss-outer-container a:active, #fpss-outer-container a:focus {outline:expression(hideFocus='true');}
