#extcalendar .jcl_center {
  padding: 15px;
}

#extcalendar .jcl_print_title {
  padding: 5px;
}
#extcalendar .jcl_print_title h1 {
  margin: auto;
  width:50%;
  text-align: center;
  display:inline;
}

#extcalendar .jcl_print_button {
  display: inline;
  float: right;
}

#extcalendar td,#extcalendar tr,#extcalendar p,#extcalendar div {
  font-size: 11px;
  color: #000000;
}

#extcalendar select {
  color: inherit;
}

#extcalendar strong {
  color: inherit;
}

#extcalendar h2.title {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-image: url(images/box_left_icon.gif);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 13px;
  font-size: 11px;
  margin: 0px;
  color: #606F79;
}

#extcalendar p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 2px 0px;
}

#extcalendar hr {
  color: #000000;
  height: 1px;
}

#extcalendar .textinput {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #686868;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #000000;
  padding-right: 3px;
  padding-left: 3px;
  background-image: url(images/txtboxbg.gif);
}


#extcalendar .textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #686868;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #000000;
  padding-right: 3px;
  padding-left: 3px;
}

#extcalendar table.toolbar {
  width: 100%;  
}


#extcalendar .listbox {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  border: groove 1px;
}

#extcalendar .button {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  border: 1px solid #000000;
  background-color: #000000;
  color: #404F59;
  background-image: url(images/btn_bg.gif);
  padding: 2px;
}

#extcalendar a {
  color: #000000;
  text-decoration: none;
}

#extcalendar .apptitle {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#extcalendar .appdesc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
}

#extcalendar td.buttontext {
  padding: 0 10px;
}

#extcalendar .buttontext a {
  font-size: 9px;
  color: #000000;
  text-decoration: none;
}


#extcalendar .previousmonth,#extcalendar .previousday,#extcalendar .previousweek
  {
  font-size: 0px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
/*  background-color: #D8E0E4; */
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  text-align: center;
}

#extcalendar .previousday a, #extcalendar .previousmonth a, #extcalendar .previousweek a {
  /* background: url(images/mini_arrowleft.gif) no-repeat left center; */
  padding-left: 14px;
  color:#000000;
}

#extcalendar .nextday a, #extcalendar .nextmonth a, #extcalendar .nextweek a {
  /* background: url(images/mini_arrowright.gif) no-repeat right center; */
  padding-right: 14px;
  color:#000000;
}

#extcalendar .previousmonth a {
  color:#000000;
  text-decoration: none;
}

#extcalendar .previousmonth, #extcalendar .nextmonth, #extcalendar .previousweek, #extcalendar .nextweek, #extcalendar .previousday, #extcalendar .nextday {
  width: 33%;
  height: 22px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #000000;
}

#extcalendar .currentmonth {
  border-bottom: 1px solid #000000;
}

#extcalendar .miniarrow {
  vertical-align: middle;
  margin: 0 5px 0 5px;
}


#extcalendar .nextmonth,#extcalendar .nextday,#extcalendar .nextweek {
  font-size: 0px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
/*  background-color: #D8E0E4; */
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
}

#extcalendar .nextmonth a {
  color:#000000;
  text-decoration: none;
}

#extcalendar .currentmonth,#extcalendar .currentday,#extcalendar .currentweek
  {
  font-size: 12px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
/*  background-color: #EEF0F0; */
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  /*font-style: normal;
  text-transform: uppercase;
  text-align: center;*/
}

#extcalendar .currentmonthtoday,#extcalendar .currentdaytoday,#extcalendar .currentweektoday {

/*  background-color: #D0E6F6; */
} 

#extcalendar .currentmonth,#extcalendar .currentday,#extcalendar .currentweek
  {
  width: 34%;
  height: 22px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #000000;
}

#extcalendar .tablev1 {
/*  background-color: #708088; */
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 0px solid #000000;
  border-bottom: 0px solid #000000;
  margin: 0px;
  color: #000000;
  padding-top: 12px;
  padding-right: 2px;
  padding-bottom: 12px;
  padding-left: 2px;
  font-size: 9px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

#extcalendar .tablev1 a {
  color: #000000;
  text-decoration: none;
}

#extcalendar .searchlink {
  font-size: 10px;
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
}


#extcalendar .searchdesc {
  font-size: 10px;
  color: #000000;
}

#extcalendar .eventtitle {
  font-size: 10px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}


#extcalendar .eventdesc {
  font-size: 10px;
  color: #000000;
}

#extcalendar .eventdesclarge {
  font-size: 12px;
  color: #000000;
  line-height: 18px;
}

div.eventdescription {
  clear: both;
  padding-bottom: 18px;
}

#extcalendar .cattitle,#extcalendar .usertitle,#extcalendar .grouptitle
  {
  font-size: 11px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

#extcalendar .catdesc,#extcalendar .userdesc,#extcalendar .groupdesc {
  font-size: 10px;
  color: #000000;
}

#extcalendar .titlehighlight {
  color: #000000;
  text-decoration: underline;
}

#extcalendar .highlight {
  color: #000000;
  text-decoration: underline;
}

#extcalendar .tableh1 {
  color: #000000;
  font-size: 11px;
  height: 26px;
/*  background-image: url(images/tile_back1.gif); */
  background-position: top;
  background-repeat: repeat-x;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 8px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

#extcalendar #shajaxProgressPrevMonth, #extcalendar #shajaxProgressNextMonth {
  vertical-align: middle;
  border: 0;
  margin: 0 5px;
}


#extcalendar .tableh2 {
/*  background: #708088 url(images/tile_sub.gif) repeat-x center bottom; */
  border-left: 1px solid #000000;
  border-right: 0px solid #000000;
  margin: 0px;
  color: #000000;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-size: 10px;
  font-weight: bold;
}

#extcalendar .jcl_cat .tableh2, #extcalendar .jcl_cats .tableh2 {
/*  background: #708088 url(images/tile_sub.gif) repeat-x center bottom; */
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
}

#extcalendar .tableh2 span.jcsearch_results, #extcalendar .tableh2 span.jcdate, #extcalendar .tableh2 span.jccat {
  font-weight: bold;
}

#extcalendar .tableh2_nobackground {
  color: white;
  font-size: 10px;
  font-weight: bold;
}

#extcalendar .jcl_flat td.tableh2, #extcalendar .jcl_week td.tableh2, #extcalendar .jcl_cat td.tableh2, #extcalendar .jcl_cats td.tableh2 {
  border-top: 1px solid #000000;
  font-size: 140%;
  margin: 0 0 0 -5px;
  background: #bbbbbb;
}


#extcalendar .rightAuto {
  float: right;
  width: auto;
}

#extcalendar .tableb {
  color: #000000;
/*  background-color: #E4E8E8; */
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 30px;
  line-height: 16px;
  font-weight: normal;
}

#extcalendar td.tableb {
  font-weight: normal;
}

#extcalendar td.tableb span.noevents {
  font-weight: normal;
}

#extcalendar .tablec {
  color: #000000;
/*  background-color: #D8E0E4; */
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
}

#extcalendar .maintable {
  border: 1px solid #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  width: 100%;
  padding: 0;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

#extcalendar table.jcl_add_event {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 0;
}

#extcalendar .jcl_center {
  text-align: center;
}

#extcalendar table.jcl_basetable {
  width: 100%;
  padding: 0;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 0;
}

#extcalendar .error {
  color: Red;
  font-weight: bold;
}

#extcalendar .today {
  font-size: 9px;
  color: #606F79;
  font-weight: bold;
}

#extcalendar .atomic {
  font-size: 9px;
}

#extcalendar .atomic span.label {
  font-weight: bold;
}
#extcalendar .atomic_colored {
  color: #CCCCCC;
}

#extcalendar .atomic span.jcfooter {
  font-weight: bold;
}

#extcalendar .legend {
  letter-spacing: 0.4pt;
  font-size: 11px;
}

#extcalendar td.legend-color-borders {
 border: 1px solid #000000;
}

/* Weekday Label Cells */
#extcalendar .caldaydigits {
  font-size: 9px;
}

#extcalendar td.caldaydigits {
  font-weight: bold;
}

#extcalendar .weekdaytopclr, #extcalendar .sundaytopclr {
  background: #BBBBBB;
  border-left: 1px solid #000000;
  border-right: 0px solid #000000;
  margin: 0px;
/*  color: #000000; */
  color: #000000;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-size: 120%;
  font-weight: bold;
}

#extcalendar .sundaytopclr {
  font-size: 120%;
/*  background-color: #708094; */
}

/* Day Cells */
#extcalendar .weekdayclr {
/*  background-color: #EEF0F0; */
  color: #C0C4C8;
  font-size: 10px;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
}

#extcalendar .todayclr {
/*  background-color: #D0E6F6; */
  color: #C0C4C8;
  font-size: 10px;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
}

#extcalendar .sundayemptyclr {
/*  background-color: #DDE0E0; */
  color: #C0C4C8;
  font-size: 10px;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
}

#extcalendar .weekdayemptyclr {
/*  background-color: #E4E8E8; */
  color: #C0C4C8;
  font-size: 10px;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
}

/* Text Editor classes */
#extcalendar .tdBtn {
  padding-left: 3px;
  padding-top: 3px;
}

#extcalendar .btnOut {
  border: 1px solid;
  border-color: #E4E8E8;
  /* background-color: #E4E8E8; */
}

#extcalendar .btnOver {
  border: 1px solid;
  border-top-color: #000000;
  border-left-color: #000000;
  border-right-color: #000000;
  border-bottom-color: #000000;
  /* background-color: #E4E8E8; */
  cursor: auto;
}

#extcalendar .btnDown {
  border: 1px solid;
  border-top-color: #000000;
  border-left-color: #000000;
  border-right-color: #000000;
  border-bottom-color: #000000;
  /* background-color: #D4D8D8; */
  cursor: auto;
}

#extcalendar a.flatButton img {
  border: 1px solid #000000;
  border-color: #000000;
}

/* Monthly View classes */
#extcalendar .eventstyle {
  font-size: 9px;
  padding: 1px;
  text-align: left;
}

#extcalendar .eventfull,#extcalendar .eventfullrepeat,#extcalendar .eventfullrepeatchild,#extcalendar .eventfullrepeatdetached
  {
  margin: 0 0 0 15px;
  /* background-color: #E4E8E8; */
  cursor: auto;
  font-weight: bold;
}

#extcalendar .eventstart,#extcalendar .eventstartrepeat,#extcalendar .eventstartrepeatchild,#extcalendar .eventstartrepeatdetached
  {
  margin-left: 3px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  /* background-color: #E4E8E8; */
  cursor: auto;
}

#extcalendar .eventmiddle,#extcalendar .eventmiddlerepeat,#extcalendar .eventmiddlerepeatchild,#extcalendar .eventmiddlerepeatdetached
  {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  /* background-color: #E4E8E8; */
  cursor: auto;
}

#extcalendar .eventend,#extcalendar .eventendrepeat,#extcalendar .eventendrepeatchild,#extcalendar .eventendrepeatdetached
  {
  margin-right: 3px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  /* background-color: #E4E8E8; */
  cursor: auto;
}

#extcalendar .imagecell {
  /* background-color: #C8D2D8; */
  padding: 8px;
}

#extcalendar .imagecell img {
  border: 1px solid;
  border-top-color: #000000;
  border-left-color: #000000;
  border-right-color: #000000;
  border-bottom-color: #000000;
  cursor: auto;
}

/* @end */
